html,
body {
  margin: 0;
  padding: 0;
  background-color: #e6f4ff;
  box-sizing: border-box;
}

h1,
h2,
h3,
button,
p,
a {
  font-family: "Pixelify Sans", sans-serif !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/img/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.start_button {
  background-color: #ffd0e9;
  font-size: 30px;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.start_button:hover {
  transform: scale(1.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

/*** GAME ***/

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  gap: 10px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.controls button {
  background-color: #ffd0e9;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  color: #ffff;
}

.character-container {
  position: relative;
  max-width: 100%;
  max-height: 100%; /* Increased max height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1; /* Makes it grow inside the flex container */
}

.character img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.character {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

#clothes-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  place-items: center;
}

#accesories,
#shirt,
#pants,
#shoes {
  width: 40%;
  max-width: 120px;
  display: none;
  position: absolute;
}

#accesories {
  grid-row: 1;
  width: 10%;
}
#shirt {
  grid-row: 2;
  width: 10%;
}
#pants {
  grid-row: 3;
  width: 10%;
}
#shoes {
  grid-row: 4;
  width: 10%;
}

.clothes-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.clothes-buttons button {
  width: 90px;
  height: 90px;
  background-color: #ffd0e9;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.clothes-buttons button img {
  width: 70px;
  height: 50px;
}
