html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #e6f4ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
button,
p,
a {
  font-family: "Pixelify Sans", sans-serif !important;
}

/***START-PAGE***/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.start_button {
  background-color: #ffd0e9;
  font-size: 30px;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.start_button:hover {
  transform: scale(1.2);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.author {
  color: white;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

/*** GAME ***/

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 50px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.controls a {
  text-decoration: none;
}

.controls button {
  background-color: #ffd0e9;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px;
  color: #ffff;
  font-size: 25px;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.controls button:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.918);
}

.character-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.character {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character img {
  object-fit: contain;
}

#clothes-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#accesories,
#shirt,
#pants,
#shoes {
  display: none;
  position: absolute;
}

#accesories {
  top: 38%;
}
#shirt {
  top: 48%;
  z-index: 2;
}
#pants {
  top: 65%;
  z-index: 1;
}
#shoes {
  top: 70%;
  z-index: 0;
}

.clothes-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.clothes-buttons button {
  width: 150px;
  height: 100px;
  background-color: #ffd0e9;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.clothes-buttons button:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.918);
}

.clothes-buttons button img {
  width: 70px;
  height: 50px;
}

@media (max-width: 450px), (max-height: 850px) {
  .game-container {
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto;
  }

  .controls {
    gap: 5px;
  }

  .controls button {
    padding: 5px;
    font-size: 18px;
  }

  .character-container {
    max-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .character img {
    max-height: 100%;
  }

  .clothes-buttons {
    gap: 10px;
  }

  .clothes-buttons button {
    width: 70px;
    height: 60px;
  }

  .clothes-buttons button img {
    width: 50px;
    height: 35px;
  }
}

@media (max-width: 650px) {
  .clothes-buttons {
    gap: 10px;
  }

  .clothes-buttons button {
    width: 70px;
    height: 60px;
  }

  .clothes-buttons button img {
    width: 50px;
    height: 35px;
  }
}
